@use '../variables'
@use '../mixins'

#sidebar
    background-color: variables.$bg-color
    flex: 1 1 0
    border-radius: variables.$card-border-radius
    display: flex
    align-items: center
    flex-direction: column
    text-align: center
    position: relative
    padding: 3rem 0


    img
        max-width:40%
        max-height: 30%
        border-radius: variables.$container-border-radius
        position: absolute
        border: 3px solid variables.$text-color
        animation: wave-animation 2.1s infinite
        transform-origin: 70% 70%
        display: block




    .title
        color: variables.$text-color-secondary
        background-color: variables.$bg-color-secondary
        border-radius: variables.$card-border-radius
        margin-top: 13rem
        padding: 0.8rem 1.2rem

    .btn
        @include mixins.btn

@keyframes wave-animation
    0%, 60%, 100%
        transform: rotate(0deg)
    10%, 30%
        transform: rotate(14deg)
    20%
        transform: rotate(-8deg)
    40%
        transform: rotate(-4deg)
    50%
        transform: rotate(10deg)


